body,html {
	height: 100%;
}

#product_type {
	margin: 0 auto;
	//margin-top: 50px;
	text-align: center;
	letter-spacing: 2px;
	color: gray;
}

#ptype_drop {
	width: 150px;
	height: 30px;
}

#prod_div {
	float: left;
	width: 60%;
	margin-left: 20px;
	//border: 1px solid black;
}

#prod_list {
	background-color: white;
	width: 100%;
	display: block;
	border: 1px solid #c2c2a3;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
}

#prod_info_ul {
	list-style-type: none;
	padding: 0;
}

input[type=text] {
	border: 0;
	background-color: #f1f1f1;
	width: 7px;
}

#err {
	border: 1px solid red;
	background-color: white;
	color: red;
	width: max-content;
	display: block;
	margin: 0 auto;
	margin-top: 5px;
	padding: 5px;
	border-radius: 5px;
	font-size: 12px;
}

#summary_div {
	display: none;
	width: 30%;
  	right: 10px;
	border: 1px solid #c2c2a3;
	border-radius: 5px;
	float: left;
	margin-left: 40px;
	margin-top: 20px;
	position: sticky;
  	top: 0;
}

#summary_div h3 {
	text-align: center;
}
